<html>

<head th:replace="~{base :: head}">

</head>

<body>

	<div th:replace="~{base :: logo}"></div>

	<div class="container">

		<div th:replace="~{base :: titulo('Meus Pedidos')}"></div>

		<nav class="navbar navbar-expand bg-light mb-3">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link link-secondary" aria-current="page" th:href="@{/usuario/pedido}">Todos</a>
						<a class="nav-item nav-link link-secondary" th:href="@{/usuario/pedido/aguardando}">Aguardando</a>
						<a class="nav-item nav-link link-secondary" th:href="@{/usuario/pedido/aprovado}">Aprovado</a>
						<a class="nav-item nav-link link-secondary" th:href="@{/usuario/pedido/entregue}">Entregue</a>

					</div>
				</div>

				<a th:href="@{/pedido/formulario}"> <button class="btn btn-outline-secondary" type="submit">Novo</button> </a>

			</div>
		</nav>



		<!-- FAZENDO FOREACH NA LISTA -->
		<div class="card mb-3" th:each="pedido : ${pedidos}">
			<th:block th:switch="${pedido.status.name()}">
				<div th:case="'AGUARDANDO'" class="card-header alert-warning" th:text="${pedido.nomeProduto}">Nome do produto</div>
				<div th:case="'APROVADO'" class="card-header alert-success" th:text="${pedido.nomeProduto}">Nome do produto</div>
				<div th:case="'ENTREGUE'" class="card-header alert-dark" th:text="${pedido.nomeProduto}">Nome do produto</div>
			</th:block>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-8 mb-3">

						<div class="row">
							<div class="col-md-5">
								Valor: <span th:if="${pedido.valorProduto} != null" th:text="${'R$ ' + #numbers.formatDecimal(pedido.valorProduto, 3, 'POINT', 2 , 'COMMA')}">200,99</span>
							</div>
							<div class="col-md-7">
								<!-- THYMELEAF TEM UM "EXTENSÃO PARA TRABALHAR COM AS NOVAS BIBLIOTECAS DO JAVA 8, E O STARTER DO SPRING THYMELEAF JÁ POSSUI ESSAS LIBS ATUALIZADAS"-->
								Data entrega: <span th:text="${#temporals.format(pedido.dataEntrega, 'dd/MM/yyyy')}">10/02/2020</span>
							</div>
						</div>

						<div>Produto</div>
						<div><a class="form-control" th:href="${pedido.urlProduto}">Link do Produto</a> </div>

						<div>Descriçao</div>
						<div>
							<textarea class="form-control" rows="" cols=""
								th:text="${pedido.descricao}">Descrição do pedido</textarea>
						</div>
					</div>
					<div class="col-12 col-sm-4">
						<div>
							<img class="img-thumbnail" th:src="${pedido.urlImagem}" src="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>