<html>

<head th:replace="~{base :: head}">

</head>

<body>

	<div th:replace="~{base :: logo}"></div>

	<div class="container">

		<div th:replace="~{base :: titulo('Login')}"></div>




		<!-- FAZENDO FOREACH NA LISTA -->
		<div class="card mb-3">

			<form th:action="@{/login}" method="POST">

				<div class="form-group mb-2 p-3">
					<label for="username">User</label>
					<input type="text" name="username" class="form-control" placeholder="Nome de usuario" required />
				</div>
				<div class="form-group mb-2 p-3">
					<label for="username">Senha</label>
					<input type="password" name="password" class="form-control" placeholder="Senha do usuario" required />
				</div>

				<div class="text-center">

					<button type="submit" class="btn btn-primary center">Entrar</button>

				</div>


			</form>

		</div>
	</div>
</body>

</html>