<html>

<head th:replace="~{base :: head}">

</head>

<!-- QUANDO O BODY FOR CARREGADO CHAMARA ESSA FUNÇÃO -->

<body onload="onLoad()">

	<div th:replace="~{base :: logo}"></div>

	<!--PASSANDO O ID "ofertas" QUE É DEFINIDO NA MINHA FUNÇÃO onLoad -->
	<div class="container" id="ofertas">

		<!-- THYMELEAF É PROCESSADO NO LADO DO SERVIDOR, ENQUANTO O VUE/ANGULAR/REACT SÃO RENDERIZADOS NO BROWSER -->
		<div th:replace="~{base :: titulo('Últimos Pedidos')}"></div>


		<!-- FAZENDO FOREACH NA LISTA COM VUE JS-->
		<div class="card mb-3" v-for="pedido in pedidos">

			<!-- ACESSANDO ATRIBUTO DO FOREACH COM A SINTAXE {{ OBJ.ATRIBUTO }} -->
			<div class="card-header alert-dark">{{pedido.nomeProduto}}</div>

			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-8 mb-3">

						<div class="row">
							<div class="col-md-5">
								Valor: <input />
							</div>
							<div class="col-md-7">
								Data entrega: <input />
							</div>
						</div>

						<div>Produto</div>
						<!-- USANDO HREF COM VUE JS-->
						<div> <a v-bind:href="pedido.urlProduto">{{pedido.nomeProduto}}</a></div>

						<div>Descriçao</div>
						<div>
							<textarea class="form-control" rows="" cols="">{{pedido.descricao}}</textarea>
						</div>
					</div>
					<div class="col-12 col-sm-4">
						<div>
							<!-- USANDO SRC COM VUE JS-->
							<img class="img-thumbnail" v-bind:src="pedido.urlImagem" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script>

		function onLoad() {
			var app = new Vue({
				el: '#ofertas',
				data: {
					pedidos: []
				},
				// MONTED É UMA FUNÇÃO QUE É EXECUTADA AUTOMATICAMENTE APÓS A RENDERIZAÇÃO DO HTML
				mounted() {
					axios
						.get('http://localhost:8080/api/pedidos/aguardando')
						.then(response => (this.pedidos = response.data))
						// OS DADOS QUE VEM NO RESPONSE FICAM DENTRO DO ".DATA"
				}
			});
		}

	</script>

	<!-- START VUE JS -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>

	<!-- START AXIOS -> PARA FAZER A REQUEST PARA O BACKEND -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>

</html>